html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: Sun;
    src: url('../font/A%20day%20without%20sun.otf')
}
@font-face {
    font-family: Mathlete;
    src: url('../font/Mathlete-SkinnySlant.otf');
}
@media all and (max-width: 599px) and (min-width: 320px) {
    .user {
        font-size: 16pt;
    }
}
@media all and (min-width: 599px) {
    .user {
        font-size: 22pt;
    }
}
.main {
    width: 100%;
    height: 100%;
}
.header {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mathlete;
    font-size: 22pt;
}
.content {
    height: 94%;
    font-family: Sun;
}
.font {
    font-family: Mathlete;
}
/**
*
* BOARD
**/
.board {
}
.bar {
    height: 60%;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.light {
    background-color: #F0EDEC;
}
.dark {
    background-color: #C6A086;
}
.figure {
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 15%;
}
.img-content {
    max-width: 100%;
    height: auto;
}
.cell-bottom,.cell-up {
    text-align: center;

    height: 2%;

    font-size: 15pt;
    font-weight: 600;
    padding-top: 0.5%;
}
.cell-bottom {
    -webkit-transform: rotate(180deg);
}
.cell-parent {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.cell-side-right, .cell-side-left {
    font-size: 15pt;
    font-weight: 600;
}

.cell-side-right {
    
    -webkit-transform: rotate(180deg);
}
.cell-highlighted {
    background-color: #dddddd;
    background-image:
    linear-gradient(45deg, #D35400 25%, transparent 25%, transparent 75%, #D35400 75%, #D35400),
    linear-gradient(-45deg, #D35400 25%, transparent 25%, transparent 75%, #D35400 75%, #D35400);
    background-size: 5px 5px;
    opacity: 0.7;
    z-index: 2;
}
.cell-key {
    background-color: #3c763d;
    z-index: 3;
    opacity: 0.7;
    box-shadow: 0px 0px 5px 2px #3c763d;
}

.cell-highlight-enemy {
    background-color: #d43f3a;
    opacity: 0.75;
    box-shadow: 0px 0px 5px 2px #d43f3a;
    z-index: 2;
}
.cell-highlight-aim {
    background-color: #f0ad4e;
    opacity: 0.75;
    box-shadow: 0px 0px 5px 2px #f0ad4e;
    z-index: 2;
}
/**
*
* Modal
**/
.cover {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0,0.75);
}
.cover-content,.list-content {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 25%;
    background-color: #fff;
    margin-left: -15%;
    margin-top: -12.5%;
    text-align: center;
    opacity: 1;
    z-index: 6;
    font-size: 22pt;
    border-radius: 6px;
    font-family: Mathlete;
}
.king-power:hover {
    width: 30px;
}
.list-content {
    font-family: Sun;
    padding-top: 1%;
    width: 40%;
    height: 60%;
    margin-left: -20%;
    margin-top: -25%;
    min-width: 400px;
    min-height: 300px;
}

.accept-figure {
    position: absolute;
    top: 80%;
    left: 80%;
    font-size: 26pt;
}
.little-whale {
    position: fixed;
    top: 95%;
    left: 93%;
    width: 7%;
    height: 5%;
}

.info-board {
    margin: 0 15px;
    border-radius: 6px 6px 0 0;
    border: solid 1px #FFDDC4;
}
.info-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 0px 0px;
    background-color: #FFDDC4;
}
.info-img {
    padding: 10%;
}
.side-header {
    height: 30px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.status {
    background-color: #ffffff;
    border-bottom: solid 1px #FFDDC4;
    border-right: solid 1px #FFDDC4;
}
.last {
    text-align: center;
    font-size: 24pt;
    border-bottom: solid 1px #FFDDC4;
    background-color: #ffffff;
}
.log {
    font-size: 20pt;
    min-height: 20px;
}
.current-step {
    margin: 0;
}
.tooltip {
    opacity: 1;
}
.winner {
    font-weight: 200;
}
.user {
    height: 100%;
    font-family: Mathlete;
}
.user1 {
    display: flex;
}
.hit-white {
    align-self: flex-end;
}
.img-user {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
    padding: 10px;
}
.fire:hover {
    font-size: 26pt;
}
.warn-alert {
    display: none;
    font-size: 12pt;
    margin: 0;
}


